html, body {
    padding: 0;
    margin: 0;
}

#titleBar {
    display: flex;
    justify-content: right;
    align-items: center;
}

#content {
    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(170deg, #ffeaff 10%, #eff7ff 20%, #ffffff 150%);
        flex-grow: 1;
    }
}